html {
   background: black;
   color: azure;
}

main {
   background: #000;
}

.photo-grid {
   background: black;
}

.photo-grid .col {
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.photo-grid img {
   width: 100%;
   height: 100%;
   max-width: none;
   max-height: none;
   object-fit: cover;
}

.photo-grid a:hover {
   cursor: default;
}

.photo-grid a:hover img {
   width: 90%;
   height: 90%;
   transform: translate(5%, 5%);
   transition: ease-in-out 250ms;
}

.grid-pic {
   padding-left: 0;
   padding-right: 0;
}

.row {
   margin-right: 0;
   margin-left: 0;
}

.sidebar {
   background: black;
   text-align: right;
   color: azure;
}

.sidebar .company-name {
   font-weight: 400;
   font-size: xx-large;
   margin-bottom: 30px;
   color: #BAB
}

.sidebar a {
   text-decoration: none;
   color: white;
}

.sidebar a.selected {
   text-decoration: underline;
   color: #BBB;
}

.nav-links a:hover:before {
   content: ">";
}

.social-media a:hover {
   color: #444;
}

.modal-content {
   color: white;
   background: #222;
}

.modal-title {
   font-size: x-large;
   color: white;
}

span {
   color: white;
}

h1 {
   color: white;
}